<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="pl.qbasso.omisechallenge">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ChallengeApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/label_charity"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup, android:label">
        <activity android:name=".ui.activity.CharityList">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.DonateActivity"
            android:label="@string/label_donate" />

        <activity android:name="com.cooltechworks.creditcarddesign.CardEditActivity" android:label="@string/label_card_details" android:theme="@style/Theme.AppCompat.Light"/>
    </application>

</manifest>